traj_*/*
scenarios/*
navigation_policies/*
logs/*
imgs/*
gym-donkeycar/*
cam/*
calibration_images/*
calibration/*
corl-2026/*
all_traj.zip
*.pkl
*.zip
navigation_polices/*
gym-donkeycar/*
robot_policy*
diffusion_policy/*
eval_results/*
data/*
topomap/*
__pycache__/*
pretrained_policy/*